{% extends 'base.twig' %}

{% block body %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <form method="post" style="max-width: 500px;" action="/register-post">
                    <div class="form-group">
                        <h1>Создание поста</h1>

                        <lable for="username">Наименование :</lable>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <lable for="username">ИНН :</lable>
                        <input type="text" name="inn" class="form-control" id="inn">
                    </div>
                    <div class="form-group">
                        <lable for="username">Общая информация :</lable>
                        <input type="text" name="info" class="form-control" id="info">
                    </div>
                    <div class="form-group">
                        <lable for="username">Генеральный директор :</lable>
                        <input type="text" name="director" class="form-control" id="director">
                    </div>
                    <div class="form-group">
                        <lable for="username">Адрес :</lable>
                        <input type="text" name="adress" class="form-control" id="adress">
                    </div>
                    <div class="form-group">
                        <lable for="username">Телефон :</lable>
                        <input type="text" name="phone" class="form-control" id="phone">
                    </div>
                    <button type="submit" class="btn btn-primary">Создать пост</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}