{% extends 'base.twig' %}

{% block body %}




        {% if message is not null %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1>Авторизация</h1>
    <form method="post" style="max-width: 500px;" action="/login-post">
        <div class="form-group">
            <lable for="username">Email :</lable>
            <input type="text" name="email" class="form-control" id="email" value="{{ form ? form.email }}">
        </div>
        <div class="form-group">
            <lable for="password">Пароль :</lable>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
        </div>
    </div>
</div>

{% endblock %}
