{% extends 'base.twig' %}

{% block body %}




    {% if message is not null %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
    <form method="post" style="max-width: 500px;" action="/register-post">
                <div class="form-group">
                    <h1>Регистрация</h1>
                    <lable for="username">Имя пользователя :</lable>
                    <input type="text" name="username" class="form-control" id="username" value="{{ form ? form.username }}">
                </div>

                <div class="form-group">
                    <lable for="username">Email :</lable>
                    <input type="text" aria-describedby="emailHelp" name="email" class="form-control" id="email" value="{{ form ? form.email }}">
                    {#            <small id="emailHelp" class="from-text text-muted">Адрес вашей почты не будет передан 3м лицам.</small>#}
                </div>
                <div class="form-group">
                    <lable for="password">Пароль :</lable>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <lable for="password">Повторите пароль :</lable>
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
        </div>
    </div>
</div>






{% endblock %}