{% extends 'base.twig' %}

{% block body %}
<div class="container">
    <div class="container row">
        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="/tritment">ООО ТРИТМЭНТ</a></h5>
                    <p class="card-text">Адрес: 3777737, Мурманская область, город Волоколамск, пр.1905 года, 24</p>
                    <p class="card-text">Телефон: (495) 072-2793</p>
                    <p class="card-text">Гениральный директор: Тимофеев Дмитрий Михайлович</p>
                </div>
            </div>
        </div>
        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="/geser">ООО ТРИТМЭНТ</a></h5>
                    <p class="card-text">Адрес: 377737, Мурманская область, город Волоколамск, пр.1905 года, 24</p>
                    <p class="card-text">Телефон: (495) 072-2793</p>
                    <p class="card-text">Гениральный директор: Тимофеев Дмитрий Михайлович</p>
                </div>
            </div>
        </div>
        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="/pella">ООО ТРИТМЭНТ</a></h5>
                    <p class="card-text">Адрес: 377737, Мурманская область, город Волоколамск, пр.1905 года, 24</p>
                    <p class="card-text">Телефон: (495) 072-2793</p>
                    <p class="card-text">Гениральный директор: Тимофеев Дмитрий Михайлович</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container row">
        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="">ООО ТРИТМЭНТ</a></h5>
                    <p class="card-text">Адрес: 377737, Мурманская область, город Волоколамск, пр.1905 года, 24</p>
                    <p class="card-text">Телефон: (495) 072-2793</p>
                    <p class="card-text">Гениральный директор: Тимофеев Дмитрий Михайлович</p>
                </div>
            </div>
        </div>
        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="">ООО ТРИТМЭНТ</a></h5>
                    <p class="card-text">Адрес: 377737, Мурманская область, город Волоколамск, пр.1905 года, 24</p>
                    <p class="card-text">Телефон: (495) 072-2793</p>
                    <p class="card-text">Гениральный директор: Тимофеев Дмитрий Михайлович</p>
                </div>
            </div>
        </div>
        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="">ООО ТРИТМЭНТ</a></h5>
                    <p class="card-text">Адрес: 377737, Мурманская область, город Волоколамск, пр.1905 года, 24</p>
                    <p class="card-text">Телефон: (495) 072-2793</p>
                    <p class="card-text">Гениральный директор: Тимофеев Дмитрий Михайлович</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}